/*all pages*/

/*navigation*/

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}
.nav li {
  text-decoration: none;
  list-style-type: none;
  text-align: center;
}

.nav a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.nav a:hover {
    background-color: #555;
    color: white;
}

p {
  font-family: 'Noto Sans', Helvetica, sans-serif;
}

h1, h2 {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  font-weight:900;
}

h3, h4 {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  font-weight:400;
}
/*home*/
