/*all pages*/
*, *:before, *:after {
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  background-color: #aba394;
    margin: 0;
}

#container {
  width: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
	overflow: hidden;
}

p {
  font-family: 'Noto Sans', Helvetica, sans-serif;
  text-indent: 25px;
  margin-left: 10px;
  max-width: 45em;
}

h1 {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  font-weight:900;
  color: #0F132E;
  text-align: center;
  width: 95%;
  margin-left: 10px;
}
h2 {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  font-weight:900;
  color: #5C5345;
  width: 95%;
  margin-left: 10px;

}

h3, h4 {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  font-weight:400;
  padding-left: 8px;
  padding-right: 8px;
  width: 95%;
  margin-left: 10px;
}

#bg {
  background-color: #0F132E;
  width: 100;
}

#footer {
  color: white;
  background-color: #0F132E;
  font-family: 'Noto Sans', Helvetica, sans-serif;
  font-weight: 100;
  text-align: center;
  padding: 8px 16px;
  font-size: 10px;
  margin: 0;
  position: relative;
  width: 100vw;

}

#social {
  width:100%;
  height:auto;
  background-color: #0F132E;
  position: relative;
  display: flex;
  justify-content: center;
}

.social {
  width: 60px;
  height: auto;
    padding:0;
    margin: 5px;
    align: center;
justify-content: space-evenly;
}

.logo {
  display: block;
  margin: 0 auto;
  background-color: #0F132E;
}
#logo {
  width: 100vw;
  background-color: #0F132E;
}

/*navigation-----------------*/

.smaller {
width: 12%;
height: auto;
padding: 0;
align-content: center;
margin: auto;
}


nav {
    margin: 0;
  }
nav ul li {
    display: block;
      text-align: center;
      width: 90vw;
      font-family: 'Noto Sans', Helvetica, sans-serif;
}

nav a {
    color: white;
    display: block;
    text-decoration: none;
    list-style: none;
    padding: 10px 20px;
    font-family: 'Noto Sans', Helvetica, sans-serif;
}

#nav a:link, #nav a:visited {
  display: block;
  text-decoration: none;
  color: white;
  list-style-type: none;
  font-family: 'Noto Sans', Helvetica, sans-serif;
  text-align: center;
  padding: 8px;
}


.navigation {
    display: flex;
    flex-flow: row;
    background-color: #0F132E;
    margin: 0;
    padding-left: 5px;
      text-align: center;
}

.menu-trigger {

    color: white;
    order: 2;
    font-size: 1.9em;
    width: 2em;
    padding: 0;
    margin-right: 0;
}

nav ul {
    display: none;
}
.littletree {
  width: 35px;
  height: 35px;
  position: absolute;
  float: right;
  margin-left: 86%;
}
.littletree2 {
  width: auto;
  height: 30px;
  margin-left: 45%;
  margin-top: 5px;
  float: right;
  position: absolute;
}
/*home*/

.fullwidth {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100vw;
  border-style: none;
  margin-bottom: -5px;
  padding:0;
  height:auto;
}

#mission {
  background-color: #E8A713;
  display: flex;
  flex: 1 auto;
  margin: 0;
  width: 100vw;
  border-style: none;
  position: relative;
  justify-content: space-between;
}
#hop {
    position: relative;
    top: 0px;
    left: 0;
    width: auto;
    height:20%;
}
#missionwords
{
  position: relative;
  width: auto;
  height:auto;
  font-size: 16px;
  vertical-align: middle;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  color: 	#3B2416;
}
.uno {
    position: relative;
    width: 100%;
}

.dos {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
}
.tres {
  transition: .5s ease;
  opacity: .9;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}


.quatro {
  background-color: #E8A713;
  color: #0F132E;
  font-size: 15px;
  font-weight: 900;
  padding: 30px 80px;
  font-family: 'Playfair Display', 'Times New Roman', serif;
  text-decoration: none;
  text-align: center;
}

a:link, a:visited {
  text-decoration: none;
}

.beer-about-pic {
    width: 100%;
    margin: auto;
    align-content: center;
    text-align: center;
}

.handle-pic {
  width: 75%;
  margin: auto;
  padding: 0;
}
/*Rent the Brewery----------------*/

.rent {
  display: inline-block;
  margin: 0;
  text-align: left;
  padding: 10px;
  max-width: none;
}


.gallery {
  display: block;
  width: 100vw;
  margin: auto 0;
  vertical-align: middle;
  text-align: left;
}

.flyer a:link {
  font-family: 'Noto Sans', Helvetica, sans-serif;
  font-style: italic;
  font-size: 20px;
}

.center {
  text-align: center;
  padding: 10px;
  margin: auto 0;
}
#center {
  margin-left: auto;
  width: 100vw;
}

.flyer {
  list-style: none;
  text-decoration: none;
  color: #5C5345;
}

/*.rcorners2 {
  display: block;
  margin: auto 0;
  vertical-align: middle;
} tried to format for mobile*/
#rcorners2 {
  font-family: 'Noto Sans', Helvetica, sans-serif;
    border: 4px solid black;
	background: white;
  background-color: #5C5345;
    width: 80%;
    height: auto;
     display: block;
   margin: auto;
   align-content: center;
   text-align: center;
}


.button {

    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-family:'Noto Sans', Helvetica, sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.w3-display-container {
  margin: 0;
  width: 100vw;
}

.mySlides {
  width: 100%;
  padding: 0;
}

.slider {
  background-color: #E8A713;
  border: none;
  padding: 15px 32px;
  position: relative;
  top: -50px;
  border: 1px solid black;
}

/*shop mobile*/
.shopbanner {
  list-style: none;
  margin: 0;
  background: #0F132E;
  padding: 0;
  display: flex;
  flex-flow: row;
  text-align: center;
}

.shopbanner a:hover {
  background: #5C5345;
}



/*beers mobile*/

#beeer-head h1 {
  background: #E8A713;
  width: 60%;
  margin-left: auto;
    margin-right: auto;
    box-shadow: -6px 6px 12px black;
}

#beeer-body {
  align-items: center;
  text-align: center;
}

.wrapper {
  display: flex;
  flex: 1 auto;
  margin: 0;
}

#caption {
  font-size: 1.5em;
  font-family: 'Playfair Display', serif;
  color: white;
  font-weight: bold;
  }

/*show/hide button styles*/
#panel, #flip {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

#panel {
    padding: 10px;
    display: none;
    margin-bottom: 30px;
}

#flip {
  background: #E8A713;
  width: 70%;
  margin-bottom: 10px;
}

/*blog styles. please don't delete */

a.blogheadline:link, a.blogheadline:active {
  color: #5C5345;
}
a.blogheadline:visited, a.blogheadline:hover {
  color: #5C5345;
}
a.readmore:link, a.blogheadline:active {
  color: #5C5345;
}
a.readmore:visited, a.blogheadline:hover {
  color: #5C5345;
}
.heroesh2 {
  text-align: center;
}

.blogarticle-1 {
  width: 100vw;
  padding: 2px;
}

.blogimages {
  width: 100vw;
}
#gold {
  height: 50%;
  width: 50%;
}

/*event styles. please don't delete */
.centerblog2 {
  margin: auto;
  width: 100%;
  text-decoration: none;
  background-color: #FFFDDE;
}
#month {
  text-align: center;
}
#month2 {
  text-align: center;
}
#month3 {
  text-align: center;
}
#bold {
  font-weight: bold;
}
/* TD {
  border-bottom: 1px solid black;

} */


/*Contact page */

#shrinkhop {
  width: 100px;
  height: auto;
}

/*-----------above this is mobile and general css-------------*/



/*----below is for over 800px-----*/

/*order*/
/*general flexbox*/
/*blog stuff*/
/*brewers*/
/*contact*/
/*events*/
/**/
/*homepage*/
/*shop*/
/*beers*/

@media all and (min-width:800px) {

  .rcorners2 {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 50% auto;
    margin: 0 auto;
    justify-content: flex-end;
  }
/*general flexbox stuff -------------------*/
    aside {
  				flex: 1 auto;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          width: 50%;
  		}

  		article {
  		flex: 3 0px;
  	}


  		article {
  				order: 2;
  		}


  		 {
  				order: 3;
  		}

      article {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
      }

      .littletree {
        width: 35px;
        height: 35px;
        position: absolute;
        float: right;
        margin-left: 55%;
      }
      .littletree2 {
        width: auto;
        height: 30px;
        margin-left: 44%;
        margin-top: 5px;
        float: right;
        position: absolute;
      }

/*blog-------------------*/

 .blogarticle-1 {
   flex: 1 50%;
   width: 50%;
 }
 .blogarticle-2 {
   flex: 1 50%;
   width: 50%;
 }
.blog-color{
  background: #FDFBE4;
}

#fitme {
  width: 100%;
  height: 400px;
}

.blogimages {
  width: 100%;
  margin: auto;
  display: block;
}
.smallblogimage3 { /*photo of michael the metalworker*/
  width: 80%;
  height: auto;
  margin: 5px;
  display: block;
  padding: 0;
}
.smallblogimage2 {
  width: 40%;
  margin-left: 0;
  display: block;
}

.smallblogimage22 { /*michael */
  width: 80%;
  margin: auto;
  display: block;
}


.smallblogimage {
  width: 40%;
  margin-left: 0;
  display: block;
}

.heroheadline  {
  padding-top: 20px;
  margin-bottom: 5px;
}

.heroesh2 {
  color: #aba394;
}

.centerblog {
  margin: auto;
  width: 90%;
  text-decoration: none;
}
.centerblog2 {
  margin: auto;
  width: 50%;
  text-decoration: none;
  background-color: #FFFDDE;
}


  .heropage {
    margin-left: 12%;
  }
  #herop {
  margin-left: 0;
  }
  TABLE {
    width: 75%;
  } /*end blog*/


/*brewers -----------------------*/

.brew{
  width: 80%;
}

#brewers1{
  row: wrap;
  display: flex;
}


#brewers2 {
  flex: 50%;
}
/*show/hide button styles*/
#panel, #flip {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

#panel{
    padding: 10px;
    display: none;
}

#flip {
  background: #E8A713;
  width: 70%;
}

#panel2, #flip2 {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

#panel2 {
    padding: 10px;
    display: none;
}

#flip2 {
  background: #E8A713;
  width: 70%;
}

#panel3, #flip3 {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

#panel3 {
    padding: 10px;
    display: none;
}

#flip3 {
  background: #E8A713;
  width: 70%;
}
/* end brewers */

/* contact------------------- */

#contact1 {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
}


#contact2 {
  flex: 50%;
}

#shrinkhop {
  width: 70px;
  height: auto;
}
 /* end contact*/

/* events ----------------*/

TABLE {
  width: 55%;
}



/*  ------------*/
# {
  color: white;
  background-color: #0F132E;
  font-family: 'Noto Sans', Helvetica, sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 10px;
    width: 100vw;
    margin: auto;
} /*end footer*/



/*-------------home page hover effects*/

.home-page-thing {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
.uno {
    position: relative;
    width: 50%;
}

.dos {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.tres {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.uno:hover .dos {
  opacity: 0.3;
}

.uno:hover .tres {
  opacity: 1;
}

.quatro {
  background-color: #E8A713;
  color: #0F132E;
  font-size: 20px;
  font-weight: 900;
  padding: 60px 100px;
  font-family: 'Playfair Display', 'Times New Roman', serif;
  text-decoration: none;
}

#missionwords
{
  position: relative;
  width: auto;
  height:auto;
  font-size: 25px;
  vertical-align: middle;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 25px;
  text-align: center;
  color: 	#3B2416;
}
/*end home page*/


/*Shop -----------------------*/


.shopbanner {
  display: flex;
  flex-flow: row;
  background-color: #0F132E;
  margin: 0;
  font-family: 'Noto Sans', Helvetica, sans-serif;
}

.shopbanner a {
  text-decoration: none;
  color: white;
}

.shopbanner li:last-of-type a {
  border-bottom: none;
}

.merch {
  display: flex;
  flex-flow: column;
}

.photoshop {
  width: 300px;
  height: auto;
  padding: 30px;
}

#merch .text {
  position: relative;
  top: 0px;
  left: 0px;
  visibility: hidden;
}

#merch:hover .text {
  visibility: visible;
}

.shopbanner {
  flex-flow: row wrap;
  justify-content: space-around;
  background: #0F132E;
}

.shopcaption {
    color: black;
    font-family: 'Noto Sans', Helvetica, sans-serif;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 0;
    padding-top: -10px;
}


.shopbanner a {
  border: none;
}


.shopbanner a:hover {
  background: #5C5345;
}

.searchbar {
  margin-right: auto;
}



/*endshop*/


/*beer ------------------------*/

.beeers {
  display: block;
  background-image: url("images/bgbeers2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  }
  #beeer-head {
    font-size: 1.9em;
    align-content: center;
    text-align: center;
    margin-top: 0;
    padding-top: 3px;
}
#beeer-head h1 {
  background: #E8A713;
  color: ;
  width: 60%;
  margin-left: auto;
    margin-right: auto;
    box-shadow: -6px 6px 12px black;
}
  #beeer-body {
    align-items: center;
    text-align: center;
    padding-bottom: 14px;
    padding-top: 15px;
    margin-top: 10px;
  }
  .beeer-pic {
    display: inline-block;
    width:17%;
    padding: 5px;
  } /*end beer pages stuff*/

  /*beer pages --------------*/

  .beer-about {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100vw;
  }
  .beer-about-pic {
    flex: 1;
  }

  .beer-about-description, p {
    flex: 2;
    text-indent: 0px;
    padding: 10px;
    padding-left: 15px;
    color: black;
  }
  .handle-pic {
    width: 100%;
  }
  .otherbeers {
    display: inline-block;
    margin: auto;
    align-content: center;
    text-align: center;
  }

  .makemesmall {
    width: 12%;
    height: auto;
  }
  #caption {
    display: none;
    }

} /*end query*/
