/*all pages*/
html {
  font-size: 100%;
}
body {
  background-color: #aba394;
    margin: 0;
}

#container {
  width: 95%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
	overflow: hidden;
}

p {
  font-family: 'Noto Sans', Helvetica, sans-serif;
}

h1, h2 {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  font-weight:900;
}

h3, h4 {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  font-weight:400;
}


#footer {
  color: white;
  background-color: #0F132E;
  font-family: 'Playfair Display', 'Times New Roman', serif;
  font-weight: 100;
  text-align: center;
  padding: 8px 16px;
  font-size: 10px;

}

.logo {
  display: block;
  margin: 0 auto;
  background-color: #0F132E;
}
#logo {
  width: 100vw;
  background-color: #0F132E;
}

/*navigation*/

#nav {
    width: 100vw;
    padding: 0;
    margin: 0;
	list-style-type: none;
}

  #nav li {
    padding: 0px;
    margin:0;
  }

#nav a:link, #nav a:visited {
  display: block;
  text-decoration: none;
  background-color: #0F132E;
  color: white;
  list-style-type: none;
  font-family: 'Playfair Display', 'Times New Roman', serif;
  font-weight:400;
  text-align: center;
  padding: 4px;
}

#nav a:hover, a:active {
    background-color: #555;
    color: white;
}

/*home*/



/*Rent the Brewery*/

.rent {
  display: block;
}
#rent {
  width: 100px;
  height: auto;
}

/*Brewers*/

.brew {
  display: block;


}

#brew {
  width: 100px;
  height: auto;
}
